<div class="container">
    <div class="mt-4">
        <div class="row justify-content-md-center">
            <div class="col-md-5">
                <form method="POST" action="/course/{{coursById._id}}?_method=PUT" >
                    <div class="mb-3">
                        <label for="nameCourse" class="form-label">Tên khoá học:</label>
                        <input name="name" value="{{coursById.name}}" type="text" class="form-control" id="nameCourse">
                    </div>
                    <div class="mb-3">
                        <label for="descriptionCourse" class="form-label">Mô tả:</label>
                        <textarea class="form-control" name="description" id="descriptionCourse" cols="30"
                            rows="10">{{coursById.description}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="videoIDCourse" class="form-label">VideoID:</label>
                        <input name="videoID" value="{{coursById.videoID}}" type="text" class="form-control"
                            id="videoIDCourse">
                    </div>
                    <div class="mb-3">
                        <label for="levelCourse" class="form-label">Trình độ:</label>
                        <input name="level" value="{{coursById.level}}" type="text" class="form-control"
                            id="levelCourse">
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                </form>
            </div>
        </div>
    </div>

</div>