<div class="container">
    <form action="/course/handle-action-method" method="post">
        <div>
            <h4>Danh sách khoá học</h4>
            <a href="/me/course/trash">Thùng rác ({{countDocumentDeleted}})</a>
        </div>

        <div class="d-flex align-items-center my-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="form-check-list-courses">
                <label class="form-check-label" for="form-check-list-courses">
                    Chọn tất cả
                </label>
            </div>
            <select id="select-action-method" class="form-select form-select-sm mx-3" name="actionMethod"
                style="width:150px;" required="required">
                <option value="" selected>-- Hành động --</option>
                <option value="delete">Xoá</option>
            </select>
            <button type="submit" class="btn btn-primary btn-sm disabled" id="button-submit-action-method">Thực
                hiện</button>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">STT</th>
                    <th scope="col">Tên khoá học</th>
                    <th scope="col">Trình độ</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col" colspan="2">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input form-check-course" name="courseId[]" type="checkbox"
                                value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td class="td-course">
                        <a href="/course/{{this._id}}/edit">Sửa</a>
                        <a href="#" id="link-delete-course" data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#modal-delete-course">Xoá</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="5" class="text-center">
                        Không có khoá học nào.
                        <a href="/course/create">Thêm khoá học</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
</div>

<!-- Modal delete course -->
<div class="modal" tabindex="-1" id="modal-delete-course">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có thực sự muốn xoá ???</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="button-delete-course" type="button" class="btn btn-danger">Lưu lại</button>
            </div>
        </div>
    </div>
</div>


<form id="form-delete-course" method="post"></form>

<script>
    $(document).ready(function () {
        var CourseID;
        var checkboxAllCourse = $('#form-check-list-courses');
        var checkboxCourses = $('.form-check-course');
        var btnSubmitCheckboxMethod = $('#button-submit-action-method');
        var selectActionMethod = $('#select-action-method');

        $('#modal-delete-course').on('show.bs.modal', (event) => {
            CourseID = $(event.relatedTarget).data('id');
        });

        $('#button-delete-course').off('click').on('click', () => {
            $('#form-delete-course').attr('action', `/course/${CourseID}?_method=DELETE`).submit();
        })

        //process checkbox all to chose all course
        checkboxAllCourse.off('change').on('change', function () {
            var isCheckboxAllCourse = $(this).is(':checked')
            checkboxCourses.prop('checked', isCheckboxAllCourse)
            renderButtonActionMethod()
        });

        //process checkbox course is checked or not checked to checkbox all enable
        checkboxCourses.off('change').on('change', function () {
            let lengthNotChecked = checkboxCourses.length
            let lengthChecked = $('input[name="courseId[]"]:checked').length
            let isEqual = lengthChecked === lengthNotChecked ? true : false;
            checkboxAllCourse.prop('checked', isEqual)
            renderButtonActionMethod()
        });

        function renderButtonActionMethod() {
            let lengthChecked = $('input[name="courseId[]"]:checked').length
            console.log(lengthChecked)
            if (lengthChecked > 0)
                btnSubmitCheckboxMethod.removeClass('disabled')
            else
                btnSubmitCheckboxMethod.addClass('disabled')
        }
    });
</script>