<div class="container">
    <div>
        <h4>Thùng rác khoá học</h4>
        <a href="/me/course/list">Danh sách khoá học</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khoá học</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col" colspan="2">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="link-restore-course" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" id="link-delete-course" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#modal-delete-course">Xoá vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">Thùng rác trống.</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal delete course -->
<div class="modal" tabindex="-1" id="modal-delete-course">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Khoá học này sẽ bị xoá vĩnh viễn, Bạn có chắc chắn ?<p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
                <button id="button-delete-course" type="button" class="btn btn-danger">Đồng ý</button>
            </div>
        </div>
    </div>
</div>


<form id="form-restore-course" method="post"></form>
<form id="form-delete-course" method="post"></form>

<script>
    $(document).ready(function () {
        var CourseID;

        $('#modal-delete-course').on('show.bs.modal', (event) => {
            CourseID = $(event.relatedTarget).data('id');
        });

        $('#button-delete-course').off('click').on('click', () => {
            $('#form-delete-course').attr('action', `/course/${CourseID}/force?_method=DELETE`).submit();
        })

        $('.link-restore-course').off('click').on('click', function (e) {
            e.preventDefault();
            let idCourse = $(this).data('id')
            $('#form-delete-course').attr('action', `/course/${idCourse}/restore?_method=PATCH`).submit();
        })
    });
</script>